.tagfeaturefilter-container {
    h4 {
        margin: 0 .5rem;
    }

    .filters {
        display: flex;
        padding: .5rem;
    }

    .feature-filter {
        cursor: pointer;
        padding: .25rem .5rem;
        margin-right: .5rem;
        &.active {
            background-color: #eee;
            color: #4286f4; 
        }
        border-radius: 1rem;
    }
}
