.taglist-item {
    border: 1px solid #eee;
    padding: .5rem;
    margin: .5rem;
    h3 {
        margin: 0 0 .5rem 0;
    }
    &:hover {
        background-color: #f0f0f0;
    }
    cursor: pointer;
}

.tag-features {
    display: flex;
}

.tag-feature {
    border-radius: 1rem; 
    background-color: #aaa;
    color: #fff;
    padding: .25rem .5rem;
    margin-right: .5rem;
    border: 1px solid #eee;
    font-size: 12px;
}
