.detailpage-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.detailpage-sidebar {
    width: 300px;
    margin: 10px;
    border: 1px solid #ccc;
}

.detailpage-main {
    position: relative;
    flex: 1;
    margin: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.detailpage-chartstage {
    flex: 1;
    position: relative;
}

.react-datetime-picker__calendar, .react-datetime-picker__clock {
    top : 100%;
}

.detailpage-controls {
    background-color: #eee;
    padding: .25rem;
    border-bottom: 1px solid #ccc;
    display: flex;

    .submit {
        background-color: #134ead;
        color: #fff;
        &:hover {
            background-color: darken(#134ead, 10%);
        }
        border: 1px solid #333;
        padding: .5rem;
        cursor: pointer;
    }

    .react-datetime-picker {
        margin-right: .5rem;
        background-color: #fff;
    }

}

.detailpage-header {
    border-bottom: 1px solid #ccc;
    background-color: #fefefe;
    padding: 0 1rem;
    margin-bottom: .5rem;
}

.back-button {
    margin: .5rem;
    cursor: pointer;
    text-decoration: underline;
}
