.frontpage-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.frontpage-main {
    width: 860px;
    position: relative;
    margin: 10px;
    border: 1px solid #ccc;
}


.frontpage-header {
    margin: 1rem .5rem;
}
